<html>
  <link rel='stylesheet' href='/css/index.css' />

  <section>
    <span class='display'>Laravel</span>
    <a href="/">Login</a>
    <a href="register">Register</a>
  </section>
  <h1>Login</h1>
  <form action="">
    <p class='display'>E-Mail Address</p>
    <input type="text">
  </form>
  <form action="">
    <p class='display'>PassWord</p>
    <input type="text">
  </form>
  <section>
    <button class='display'>Login</button>
    <span>Forget Your PassWord?</span>
  </section>
</html>