<html>
  <link rel='stylesheet' href='/css/index.css' />

  <section>
    <span class='display'>Laravel</span>
    <a href="/">Login</a>
    <a href="register">Register</a>
  </section>
  <h1>Register</h1>
  <form action="">
    <p class='display'>Name</p>
    <input type="text">
  </form>
  <form action="">
    <p class='display'>E-Mail Address</p>
    <input type="text">
  </form>
  <form action="">
    <p class='display'>PassWord</p>
    <input type="text">
  </form>
  <form action="">
    <p class='display'>Conform PassWord</p>
    <input type="text">
  </form>
    <button class='display'>Register</button>
</html>